*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
app.db
chirp.log*
venv/Lib/site-packages/dominate-2.6.0.dist-info/INSTALLER
venv/Lib/site-packages/dominate-2.6.0.dist-info/LICENSE.txt
venv/Lib/site-packages/dominate-2.6.0.dist-info/METADATA
venv/Lib/site-packages/dominate-2.6.0.dist-info/RECORD
venv/Lib/site-packages/dominate-2.6.0.dist-info/top_level.txt
venv/Lib/site-packages/dominate-2.6.0.dist-info/WHEEL
venv/Lib/site-packages/dominate/_version.py
venv/Lib/site-packages/dominate/dom_tag.py
venv/Lib/site-packages/dominate/svg.py
venv/Lib/site-packages/dominate/tags.py
venv/Lib/site-packages/dominate/util.py
venv/Lib/site-packages/jwt/__init__.py
venv/Lib/site-packages/jwt/algorithms.py
venv/Lib/site-packages/jwt/api_jwk.py
venv/Lib/site-packages/jwt/api_jws.py
venv/Lib/site-packages/jwt/api_jwt.py
venv/Lib/site-packages/jwt/exceptions.py
venv/Lib/site-packages/jwt/help.py
venv/Lib/site-packages/jwt/jwks_client.py
venv/Lib/site-packages/jwt/py.typed
venv/Lib/site-packages/jwt/utils.py
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/AUTHORS.rst
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/INSTALLER
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/LICENSE
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/METADATA
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/RECORD
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/REQUESTED
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/top_level.txt
venv/Lib/site-packages/PyJWT-2.0.1.dist-info/WHEEL
